.body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pic{
    width: 150px;
    /* justify-content: left; */
}

.card{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border: 1px dotted blue;
    background: #4DA1A9;
    width: 450px;
    margin: 0 auto; /*Margin 0=top and buttom and auto for right and left. */
    /* margin-right: auto;
    margin-left: auto; */
    padding: 20px;
    border-bottom: 3px solid rgb(64, 0, 255);
   
    /* margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; */
    /* padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; */
}


.name{
     margin-top: 0; 
     margin-bottom: 0;
}
.pro{
    margin-top: 0;
    margin-bottom: 0;
}
.Citizen{
    margin-top: 0;
    margin-bottom: 0;

}
.contact{
    margin-top: 0;
}  
